body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.background {
    background-color: darkred; 
    width: 180px ;
    height: 180px;
    text-align: center;
    color: white;
    align-content: center;
    margin: 15px;
}

.font {
    background-color:purple; 
    width: 180px ;
    height: 180px;
    text-align: center;
    color: white;
    align-content: center;
    margin: 15px;
    font-size: 60%;
}

.color {
    background-color:cadetblue; 
    width: 180px ;
    height: 180px;
    text-align: center;
    color: black;
    align-content: center;
    margin: 15px;
}

.line {
    background-color:lightseagreen; 
    width: 180px ;
    height: 180px;
    text-align: center;
    color: white;
    align-content: center;
    margin: 15px;
    line-height: 6cm;
}

.radius {
    background-color:mediumseagreen; 
    width: 180px ;
    height: 180px;
    text-align: center;
    color: white;
    align-content: center;
    margin: 15px;
    border-radius: 15%;
}

.box {
    background-color:goldenrod; 
    width: 180px ;
    height: 180px;
    text-align: center;
    color: white;
    align-content: center;
    margin: 15px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}

.opacity {
    background-color: chocolate; 
    width: 180px ;
    height: 180px;
    text-align: center;
    color: white;
    align-content: center;
    margin: 15px;
    opacity: 0.6;
}

.border {
    background-color: gray; 
    width: 180px ;
    height: 180px;
    text-align: center;
    color: white;
    align-content: center;
    margin: 15px;
    border-color: black;
    border-width: 2px;
    border-style: dashed;
}

.margin {
    background-color:darkslategrey; 
    width: 180px ;
    height: 180px;
    text-align: center;
    color: white;
    align-content: center;
    margin: 40px;
}

.padding {
    background-color: black; 
    width: 180px ;
    height: 180px;
    text-align: center;
    color: white;
    align-content: center;
    margin: 15px; 
    padding: 20px;
}
