/* 
paleta color:
#DFF2EB
#B9E5E8
#7AB2D3
#4A628A
*/

body {
    display flexbox;
    background-image: linear-gradient(90deg, rgba(122,178,211,1) 35%, rgba(74,98,138,1) 100%);}

main{display:inline-block}

nav li {
    display:inline-block ;
    background-color: #B9E5E8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-right: 11px;
    margin-bottom: 1px;
}

section{
    display:inline-block ;
    background-color: #7AB2D3; width:50% ;
}

aside{
    display:inline-block ;
    background-color:#7AB2D3 ;
    width:40% ;
}
aside li{
    display:inline-block ;
    background-color: #B9E5E8;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

aside li{
    list-style: none;
}
aside li::before {
    content: "\0023";
    margin: 0 15px 0 -2px;
}
