.body { background-color: #BFECFF;}

.main {background-color: #CDC1FF; height: 400px
px; width: px;}

.article1 {background-color: #FFCCEA; height: 170px; width: 400px;}

.menú {color: #493628 ;}

div {background-color: #E9EED9; height: 25px;width: 100px; margin-bottom: 3px;}

.article2 {background-color: #EEEEEE; height: 150px; width: 400px;}

.titulo-tabla {color: #AB886D;}
.tabla{ width: 300px;}

th { background-color:#D0E8C5 ; width: 50px;}

#fila2 { background-color:#C5D3E8 ;}

#fila3 { background-color:#A6AEBF ;}